[Unit]
Description=IDR JupyterHub
Requires=docker.service
After=docker.service

[Service]
# docker service will tell the docker daemon to manage the lifetime of
# containers, including restarting on failure. It will also automatically
# restart the service following a reboot, so take care to ensure it doesn't
# conflict with systemd
Restart=no
Type=oneshot
RemainAfterExit=True
ExecStartPre=-/usr/bin/docker service rm {{ idr_jupyter_service }}
ExecStart=/usr/bin/docker service create \
    --name  {{ idr_jupyter_service }} \
    --network {{ idr_jupyter_network }} \
    --log-driver {{ idr_jupyter_log_driver }} \
    -p 8000:8000 \
    -p 8081:8081 \
    -e DOCKER_HOST=unix://var/run/docker.sock \
    --mount source=/var/run/docker.sock,target=/var/run/docker.sock,type=bind \
    --mount source=/srv/jupyterhub/,target=/srv/jupyterhub/,type=bind \
    {{ idr_jupyter_hub_extra_docker_args }} \
    {{ idr_jupyter_hub_image }} \
    jupyterhub \
    --no-ssl \
    --base-url={{ idr_jupyter_prefix }} \
    -f /srv/jupyterhub/jupyterhub_config.py \
    --log-level={{ idr_jupyter_hub_log_level }}
ExecStop=/usr/bin/docker service rm {{ idr_jupyter_service }}

[Install]
WantedBy=multi-user.target
