# Jupyterhub configuration file

c = get_config()


######################################################################
# JupyterHub

# Hub service listens on this interface:
c.JupyterHub.hub_ip = "0.0.0.0"
#c.JupyterHub.proxy_api_ip = c.JupyterHub.hub_ip

c.JupyterHub.spawner_class = "dockerspawner.DockerSpawner"
c.JupyterHub.authenticator_class = "oauthenticator.GitHubOAuthenticator"
{% if idr_jupyter_proxy_token | default(None) %}
c.JupyterHub.proxy_auth_token = "{{ idr_jupyter_proxy_token }}"
{% endif %}


######################################################################
# DockerSpawner

# https://github.com/jupyterhub/dockerspawner/blob/master/dockerspawner/dockerspawner.py
c.DockerSpawner.tls_verify = False
#c.DockerSpawner.tls_ca = "/etc/docker/ca.pem"
#c.DockerSpawner.tls_cert = "/etc/docker/server-cert.pem"
#c.DockerSpawner.tls_key = "/etc/docker/server-key.pem"
#c.DockerSpawner.container_ip = "0.0.0.0"
c.DockerSpawner.hub_ip_connect = "{{ idr_jupyter_ip }}"
c.DockerSpawner.container_image = "{{ idr_jupyter_notebook_image }}"

c.DockerSpawner.remove_containers = {{ idr_jupyter_notebook_remove_containers | default(False) }}
c.DockerSpawner.use_internal_ip = True
{% if idr_jupyter_notebook_host_volume | default(None) %}
c.DockerSpawner.volumes = {
    "{{ idr_jupyter_notebook_host_volume }}": "/notebooks"
}
{% endif %}


######################################################################
# Authenticator

c.Authenticator.whitelist = {{ idr_jupyter_users | to_json }}
c.Authenticator.admin_users = {{ idr_jupyter_admins | to_json }}

c.GitHubOAuthenticator.oauth_callback_url = "{{ idr_jupyter_urlbase }}{{ idr_jupyter_prefix }}/hub/oauth_callback"
c.GitHubOAuthenticator.client_id = "{{ idr_jupyter_github_id }}"
c.GitHubOAuthenticator.client_secret = "{{ idr_jupyter_github_secret }}"
