---
# tasks file for roles/server-swap

- name: sysctl | set vm swappiness
  become: yes
  sysctl:
    ignoreerrors: no
    reload: yes
    state: present
    name: vm.swappiness
    value: "{{ sysctl_vm_swappiness }}"
