[Unit]
Description=Docker registrator
Requires=docker.service
# TODO: Should work with a remote etcd daemon
Requires=docker-{{ docker_dns.etcd }}.service
After=docker-{{ docker_dns.etcd }}.service

[Service]
Restart=on-failure
RestartSec=10
ExecStartPre=-/usr/bin/docker kill registrator
ExecStartPre=-/usr/bin/docker rm registrator
ExecStart=/usr/bin/docker run --name registrator \
    --link {{ docker_dns.etcd }}:etcd \
    -v /var/run/docker.sock:/tmp/docker.sock \
    --entrypoint=sh \
    manics/registrator -c \
    "sleep 5; \
     registrator \
    -iponly \
    -ttl 60 \
    -ttl-refresh=30 \
    skydns2://etcd:2379/{{ docker_dns.domain }}"
ExecStop=/usr/bin/docker stop registrator

[Install]
WantedBy=multi-user.target
