[Unit]
Description=OMERO.server
# Not mandatory, PostgreSQL may be running on a different server
#Requires=postgresql-9.4.service

[Service]
User={{ omero_system_user }}
Type=simple
Restart={{ omero_systemd_restart }}
RestartSec=10
ExecStart={{ omero_serverdir }}/{{ omero_server_symlink }}/bin/omero admin start --foreground

[Install]
WantedBy=multi-user.target
