[Unit]
Description=OMERO.server
# Requires: forces the dependency to be started
# After: ensures this service starts after the dependency, but only if the dependency is also started
# PostgreSQL may be running on a different server so don't set Requires
#Requires=postgresql-9.4.service
After=postgresql-9.4.service
Requires=network.service
After=network.service

[Service]
User={{ omero_system_user }}
Type=forking
PIDFile={{ omero_serverdir }}/{{ omero_server_symlink }}/var/master/master.pid
Restart={{ omero_systemd_restart }}
RestartSec=10
# Allow up to 5 min for start/stop
TimeoutSec=300
ExecStart={{ omero_serverdir }}/{{ omero_server_symlink }}/bin/omero admin start
ExecStop={{ omero_serverdir }}/{{ omero_server_symlink }}/bin/omero admin stop

[Install]
WantedBy=multi-user.target
