[Unit]
Description=OMERO.server
# Not mandatory, PostgreSQL may be running on a different server
#Requires=postgresql-9.4.service

[Service]
User={{ omero_system_user }}
Type=forking
PIDFile={{ omero_serverdir }}/{{ omero_server_symlink }}/var/master/master.pid
Restart={{ omero_systemd_restart }}
RestartSec=10
# Allow up to 5 min for start/stop
TimeoutSec=300
ExecStart={{ omero_serverdir }}/{{ omero_server_symlink }}/bin/omero admin start
ExecStop={{ omero_serverdir }}/{{ omero_server_symlink }}/bin/omero admin stop

[Install]
WantedBy=multi-user.target
