[Unit]
Description=OMERO.web
# Not mandatory, Nginx may be running on a different server
#Requires=nginx.service

# TODO: Run web in foreground mode so that it can be monitored by systemd
[Service]
User={{ omero_system_user }}
Type=forking
PIDFile={{ omero_serverdir }}/{{ omero_server_symlink }}/var/django.pid
Restart={{ omero_systemd_restart }}
RestartSec=10
ExecStart={{ omero_serverdir }}/{{ omero_server_symlink }}/bin/omero web start
ExecStop={{ omero_serverdir }}/{{ omero_server_symlink }}/bin/omero web stop

[Install]
WantedBy=multi-user.target
