# GPFS yum repository
# Disabled by default since GPFS requires a compiled kernel module, upgraded
# with care.

[gpfs-base]
name=GPFS Repository
baseurl={{ gpfs_repo_url_base }}
enabled=1
gpgcheck=0

[gpfs-updates]
name=GPFS Repository
baseurl={{ gpfs_repo_url_updates }}
enabled=1
gpgcheck=0
