server {
        listen 80 default_server;
        listen 443 default_server ssl;

        ssl_certificate {{ nginx_ssl_files_path }}/{{ nginx_ssl_cert_filename }};
        ssl_certificate_key {{ nginx_ssl_files_path }}/{{ nginx_ssl_key_filename }};
        ssl_protocols  {{ nginx_ssl_protocols }}

        root /var/www/localhost/html/;
        index index.html index.htm;

        server_name {{ ansible_hostname }};

        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files $uri $uri/ =404;
                # Uncomment to enable naxsi on this location
                # include /etc/nginx/naxsi.rules
        }

        location /community {
                proxy_set_header Host www.openmicroscopy.org;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_pass $scheme://134.36.65.239$request_uri/;
        }

        error_page 404 /404.html;


}
