---
# defaults file for roles/nginx-proxy

# Number of worker processes, use auto to set this to the number of CPUs
nginx_proxy_worker_processes: 1

# Format for access.log, see templates/nginx-conf.j2 for predefined formats
nginx_proxy_log_format: main_timed_cache

# Enable SSL?
nginx_proxy_ssl: False

# Enable HTTP2 (ignore is nginx_proxy_ssl False)?
nginx_proxy_http2: False

# Redirect all http requests to https?
nginx_proxy_force_ssl: False

# Optional vars:

# Server path to SSL certificate
nginx_proxy_ssl_certificate:

# Server path to SSL certificate key
nginx_proxy_ssl_certificate_key:

# If defined the age to return in the Strict-Transport-Security header
nginx_proxy_hsts_age:

# DNS servers for hostname lookups
nginx_dynamic_proxy_resolvers:

# Number and size of proxy buffers
nginx_proxy_buffers:

# List of dicts of backend servers
# To force dynamic DNS lookups need to use a variable:
# https://www.jethrocarr.com/2013/11/02/nginx-reverse-proxies-and-dns-resolution/
# http://forum.nginx.org/read.php?2,215830,215832#msg-215832
nginx_proxy_backends: []
#- name: test # Required if dynamic: True
#  location: /prefix
#  server: http://example.org
#  dynamic: False
#  cache_validity: 1d

# Caching parameters
# Parent path of Nginx disk caches
nginx_proxy_cache_parent_path: /var/cache/nginx
# List of caches
nginx_proxy_caches: []

# Don't cache these URI patterns (list)
nginx_proxy_cache_skip_uri: [ default ]
# Cache these URI patterns (list)
nginx_proxy_cache_match_uri: []
# Don't cache these arg patterns (list)
nginx_proxy_cache_skip_arg: []
# Cache these arg patterns (list)
nginx_proxy_cache_match_arg: []


# Set to True to add X-Proxy-Cache* headers for debugging
nginx_proxy_debug_cache_headers: False

# Prevent multiple backend requests to the same object within this time
nginx_proxy_lock_time: 1m

# Headers to be ignored, e.g. '"Set-Cookie" "Vary" "Expires"'
nginx_proxy_ignore_headers:

# Override the default Nginx cache key
nginx_proxy_cache_key:

# Use stale cache if these situations are encountered
nginx_proxy_cache_use_stale: "error timeout invalid_header updating http_500 http_502 http_503 http_504"


# EXPERIMENTAL: Example caching parameters for public OMERO
# nginx_proxy_cache_match_uri: "{{ nginx_proxy_cache_match_uri_omero }}"
# nginx_proxy_cache_match_arg: "{{ nginx_proxy_cache_match_arg_omero }}"
# nginx_proxy_caches: "{{ nginx_proxy_caches_omero }}"
nginx_proxy_cache_match_uri_omero:
- '"~webclient/api/paths_to_object*"'
- '"~web(client|gateway)/(metadata|render)_*"'
nginx_proxy_cache_match_arg_omero:
- '"~show=*"'
nginx_proxy_caches_omero:
- name: omero
  keysize: 10m
  inactive: 30d
  match:
  - default
- name: omerothumbnail
  keysize: 200m
  inactive: 30d
  match:
  - '"~web(client|gateway)/render_thumbnail/*"'
- name: omerorender
  keysize: 4000m
  inactive: 30d
  match:
  - '"~web(client|gateway)/render_image/*"'
- name: omerometadata
  keysize: 300m
  inactive: 30d
  match:
  - '"~webclient/metadata_*"'
- name: omeroshow
  keysize: 300m
  inactive: 30d
  match:
  - '"~webclient/.*/?show=*"'
  - '"~webclient/api/paths_to_object/*"'
