---
# Playbook for maintaining IDR service nodes

- hosts: prod-web-proxies
  roles:
  - role: network
  - role: openmicroscopy.lvm-partition
    lvm_lvname: root
    lvm_lvmount: /
    lvm_lvsize: "{{ root_size }}"
    lvm_lvfilesystem: "{{ root_filesystem }}"
  - role: openmicroscopy.lvm-partition
    lvm_lvname: var_log
    lvm_lvmount: /var/log
    lvm_lvsize: "{{ varlog_size }}"
    lvm_lvfilesystem: "{{ root_filesystem }}"
  - role: openmicroscopy.nginx-proxy
