# Docker engine options (created by Ansible)
DOCKER_OPTIONS="\
{% if docker_use_custom_storage %}
    --storage-driver devicemapper
    --storage-opt dm.fs={{ docker_basefs }} \
    --storage-opt dm.thinpooldev=/dev/mapper/{{ docker_vgname }}-docker--pool \
{% endif %}
{% if docker_use_custom_network %}
    -b {{ docker_bridge_name }} \
    --fixed-cidr {{ docker_bridge_ips }}
{% endif %}
    "
