---
# Setup network interfaces

- name: network | find unwanted nics
  become: yes
  find:
    paths: /etc/sysconfig/network-scripts/
    patterns: ifcfg-{{ network_delete_ifaces }}
    use_regex: True
  when: network_delete_ifaces is defined and network_delete_ifaces
  register: unwanted

- name: network | remove nics
  become: yes
  file:
    path: "{{ item.path }}"
    state: absent
  with_items: "{{ unwanted.files | default([]) }}"
  notify:
    - restart network

- name: network | setup nics
  become: yes
  template:
    backup: yes
    src: etc-sysconfig-network-scripts-ifcfg.j2
    dest: /etc/sysconfig/network-scripts/ifcfg-{{ item.device }}
  with_items: network_ifaces | default([])
  notify:
    - restart network

- name: network | disable nics
  become: yes
  template:
    backup: yes
    src: etc-sysconfig-network-scripts-ifcfg-disabled.j2
    dest: /etc/sysconfig/network-scripts/ifcfg-{{ item }}
  with_items: network_disable_ifaces | default([])
  notify:
    - restart network

- name: network | restart network if necessary before checking bonding
  meta: flush_handlers

- name: network | check bonding
  stat:
    path: /proc/net/bonding/{{ item.bondmaster }}
  with_items: network_ifaces
  when: "'bondmaster' in item"
  register: checkbonds

- debug:
    msg: "checkbonds.results.item: {{ item }}"
  with_items:
    - "{{ checkbonds.results }}"

- name: network | check bonding active
  assert:
    that:
    - "item.stat.exists and not item.stat.isdir"
  # 'skipped' field may be missing if it wasn't skipped
  when: not item.skipped | default (False)
  with_items:
    - "{{ checkbonds.results }}"
