DEVICE={{ item.device }}
BOOTPROTO=none
IPV6INIT=yes
MTU=1500
ONBOOT=yes
{% if 'networkmanager' in item %}
NM_CONTROLLED={{ item.networkmanager }}
{% endif %}
{% if 'ip' in item %}
IPADDR={{ item.ip }}
{% endif %}
{% if 'netmask' in item %}
NETMASK={{ item.netmask }}
{% endif %}
{% if 'prefix' in item %}
PREFIX={{ item.prefix }}
{% endif %}
{% if 'type' in item %}
TYPE={{ item.type }}
{% endif %}
{% if 'hwaddr' in item %}
HWADDR={{ item.hwaddr }}
{% endif %}
{% if 'gateway' in item %}
GATEWAY={{ item.gateway }}
{% endif %}
{% if 'dns1' in item %}
DNS1={{ item.dns1 }}
{% endif %}
{% if 'dns2' in item %}
DNS2={{ item.dns2 }}
{% endif %}
{% if 'bridge' in item %}
BRIDGE={{ item.bridge }}
{% endif %}
USERCTL=no
{% if 'bondmaster' in item %}
{%   if item.bondmaster == item.device %}
{%     if 'type' not in item %}
TYPE=Bond
{%     endif %}
BONDING_MASTER=yes
BONDING_OPTS="resend_igmp=1 updelay=0 use_carrier=1 miimon=100 downdelay=0 xmit_hash_policy=0 primary_reselect=0 fail_over_mac=0 arp_validate=0 mode=active-backup primary=eno1 lacp_rate=0 arp_interval=0 ad_select=0"
{%   else %}
MASTER={{ item.bondmaster }}
SLAVE=yes
{%   endif %}
{% endif %}
