config set omero.db.host '{{ omero_dbhost }}'
config set omero.db.user '{{ omero_dbuser }}'
config set omero.db.name '{{ omero_dbname }}'
config set omero.db.password '{{ omero_dbpassword }}'
config set omero.data.dir '{{ omero_datadir }}'
