# Example playbook for installing OMERO.server into a VM
#
# This is initially aimed at testing a mini-IDR, so some production tuning is
# required (limits.d).
# In addition the samba-client and python-pydata roles are also installed
# as they are required for some IDR related tasks.
# For a standard production server you won't need these.


# Testing vars. Set:
# - `idr_nginx_ssl_self_signed=True` to generate a self-signed https cert
# - `idr_net_iface=iface` if your servers use a network interface other
#   then eth0 for inter-machine networking

- hosts: "{{ idr_environment | default('idr') }}-database-hosts"

  roles:
  - role: postgresql
    postgresql_server_listen: "'*'"
    postgresql_server_auth:
    - database: all
      user: omero
      address: 0.0.0.0/0
    postgresql_users_databases:
    - user: omero
      password: omero
      databases: [idr]
    postgresql_server_chown_datadir: True


# There are two OMERO and database servers. The next two plays set a
# hostvar so that the OMERO servers connect to the correct database

- hosts: "{{ idr_environment | default('idr') }}-omero-hosts"
  tasks:
  - name: Get database host
    set_fact:
      omero_db_host_ansible: "{{ hostvars[groups[idr_environment | default('idr') + '-database-hosts'][0]]['ansible_' + (idr_net_iface | default('eth0'))]['ipv4']['address']}}"

- hosts: "{{ idr_environment | default('idr') }}-a-omero-hosts"
  tasks:
  - name: Get database host
    set_fact:
      omero_db_host_ansible: "{{ hostvars[groups[idr_environment | default('idr') + '-a-database-hosts'][0]]['ansible_' + (idr_net_iface | default('eth0'))]['ipv4']['address']}}"


- hosts: >
    {{ idr_environment | default('idr') }}-omero-hosts
    {{ idr_environment | default('idr') }}-a-omero-hosts

  pre_tasks:

  # Increase open files and processes (alternatively use the pam_limits module)
  - copy:
      content: |
        omero hard nofile 16384
        omero soft nofile 16384
        omero hard noproc 8192
        omero soft noproc 8192
      dest: /etc/security/limits.d/95-omero.conf
    become: yes

  roles:
  - role: basedeps
    tags: "basedeps"
  - role: cli-utils
    tags: "cli-utils"
  - role: versioncontrol-utils
    tags: "versioncontrol-utils"
  - role: omero-server
    tags: "omero-server"
  - role: python-pydata
    tags: "python-pydata"
  - role: omero-web-apps
    tags: "omero-web-apps"

  vars:
    omero_dbhost: "{{ omero_db_host_ansible }}"
    omero_dbname: idr
    omero_selinux_setup: True
    #omero_upgrade: True
    omero_systemd_setup: True
    omero_db_create: False

  # Additional vars are in group_vars/omero-hosts.yml
