# Ansible configuration file
# If ansible is executed from this directory it will automatically load
# this file
# See https://github.com/ansible/ansible/blob/devel/examples/ansible.cfg
# for all options
#
# Ensure any changes to this file will work on any system (it is best
# to be conservative)
# Set `ANSIBLE_CONFIG` for local changes

[defaults]
# Try more servers at once, smartly.
forks = 20
gathering = smart

# Assume all actions take place under infrastructure/ansible
roles_path = roles/
inventory = ../../ansible/inventory/

# These tend to be annoying.
retry_files_enabled = False

# Deals with the files/ directory used by IDR
inventory_ignore_extensions = ~, .orig, .bak, .ini, .retry, .pyc, .pyo, .html, .omero, .gif, .png, .js, .md

# Helps determine what's running slowly
#callback_whitelist = profile_tasks

# Additional plugins
callback_plugins = ./plugins/callback

# Performance options
[ssh_connection]
#pipelining = True
