---
# Playbook for provisioning Jenkins CI nodes

- hosts: ci-jenkins-linux
  roles:
    - role: omero-build
    - role: omero-runtime
    - role: omero-build-cpp
    - role: postgresql
    - role: nginx
  vars:
    - javajdkversions:
      - 1.8.0
