# Nginx caches
{% for item in nginx_proxy_caches %}
proxy_cache_path {{ nginx_proxy_cache_parent_path }}/{{ item.name }} levels=1:2 keys_zone={{ item.name }}:{{ item.keysize }} max_size={{ item.maxsize }} inactive={{ item.inactive }} use_temp_path=off;
{% endfor %}

# Disable/enable caching for particular URLs
#map $request_uri $uri_skip_cache
map $request_uri $skip_cache
{
{% for item in nginx_proxy_cache_skip_uri %}
    {{ item }} 1;
{% endfor %}
{% for item in nginx_proxy_cache_match_uri %}
    {{ item }} 0;
{% endfor %}
}

#map $args $skip_cache
#{
#    default $uri_skip_cache;
#{% for item in nginx_proxy_cache_skip_arg %}
#    {{ item }} 1;
#{% endfor %}
#{% for item in nginx_proxy_cache_match_arg %}
#    {{ item }} 0;
#{% endfor %}
#}

map $server_port $cache_refresh
{
    default $skip_cache;
{% if nginx_proxy_cachebuster_port %}
    {{ nginx_proxy_cachebuster_port }} 1;
{% endif %}
}

# Use different caches for different URLs
map $request_uri $cache_zone_name
{
{% for item in nginx_proxy_caches %}
{%   for match in item.match %}
    {{ match }} {{ item.name }};
{%   endfor %}
{% endfor %}
}

{% if nginx_proxy_cache_key %}
map {{ nginx_proxy_cache_key }} $cache_key
{
    default {{ nginx_proxy_cache_key }};
{%   for item in nginx_proxy_cache_key_map %}
    {{ item.match }} {{ item.key }};
{%   endfor %}
}
{% endif %}
