{% for item in nginx_proxy_streams %}
upstream {{ item.name }}_server {
{%  for server in item.servers %}
    server {{ server }};
{%  endfor %}
}
server {
    listen {{ item.port }};
{%   if 'connect_timeout' in item %}
    proxy_connect_timeout {{ item.connect_timeout }};
{%   endif %}
{%   if 'timeout' in item %}
    proxy_timeout {{ item.timeout }};
{%   endif %}
    proxy_pass {{ item.name }}_server;
}
{% endfor %}
