# {{ ansible_managed }}
# Add web-extension OMERO.web configuration
# after web already installed and running via role

# omero-figure
config append -- omero.web.apps '"omero_figure"'
config append -- omero.web.ui.top_links '["Figure", "figure_index", {"title": "Open Figure in new tab", "target": "_blank"}]'
config append -- omero.web.open_with '["omero_figure", "new_figure", {"supported_objects":["images"], "target": "_blank", "label": "OMERO.figure"}]'

# omero-fpbioimage
config append -- omero.web.apps '"omero_fpbioimage"'
config append -- omero.web.open_with '["omero_fpbioimage", "fpbioimage_index", {"supported_objects":["image"], "script_url": "fpbioimage/openwith.js", "label": "FPBioimage"}]'
